<div class="add_stock_pragma">
    <div class="stock_pragma-label">Добавить склад</div>
    <div class="left_footer_add_stocks">
        <button type="button" class="button-input    footer_add_stocks" tabindex="" id="pragma_add_stocks">
                <span class="button-input-inner ">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="black" xmlns="http://www.w3.org/2000/svg">
<path d="M9.00003 5H1.00000" stroke="black" stroke-width="1" stroke-linecap="round"></path>
<path d="M5.00023 9L5.00023 1" stroke="black" stroke-width="1" stroke-linecap="round"></path>
</svg>

</span></button>
    </div>
</div>

