<div class="modal-column_leads">
    <div class="column_leads-top">
        <div class="pragma-leads-top-all">
            <div class="pragma-leads-top-all-label">
                <label for="">Все Товары</label>
            </div>
        </div>
        <div class="pragma-leads-top-search">
            <div class="pragma-leads-top-search-svg">
                <svg class="list-top-search__icon svg-icon svg-common--filter-search-dims">
                    <use xlink:href="#common--filter-search"></use>
                </svg>
            </div>
            <div class="pragma-leads-top-search-input">
                {{ include_control('input', {
                    id: "id_column-search",
                    class_name: "modal_column-search",
                    placeholder : 'Поиск и фильтр'
                }) }}
            </div>
            <div class="footer_product_add"></div>
        </div>

        <div class="pragma-leads-top-add_button">
            <button type="button" class="button-input button-input_blue   add_all_producnts" tabindex=""
                    id="more-three-section-pragma"><span class="button-input-inner ">
    <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px" xmlns:xlink="http://www.w3.org/1999/xlink"
         width="7pt" height="7pt" viewBox="0 0 7 7" version="1.1">
<path style="fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:10;"
      d="M 159.259844 0.196133 L 192.210156 0.196133 L 192.210156 351.273867 L 159.259844 351.273867 Z M 159.259844 0.196133 "
      transform="matrix(0.0199164,0,0,0.0199164,0,0)"></path>
<path style="fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke:rgb(100%,100%,100%);stroke-opacity:1;stroke-miterlimit:10;"
      d="M 159.259844 0.196133 L 192.210156 0.196133 L 192.210156 351.273867 L 159.259844 351.273867 Z M 159.259844 0.196133 "
      transform="matrix(0.000000000000000001,0.0199164,-0.0199164,0.000000000000000001,7,0)"></path>
</svg>
    <span class="button-input-inner__text">ДОБАВИТЬ ТОВАРЫ</span></span></button>
            <div class="close-pragma_stock-lead">
                <button type="button" class="button-input    modal_column-close-pragma_stock" tabindex="" id="lead_id_close-pragma_stock"><span class="button-input-inner ">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11pt" height="11pt" viewBox="0 0 11 11" version="1.1">
<g id="surface1">
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(95.686275%,26.27451%,21.176471%);fill-opacity:1;" d="M 0.714844 11.015625 C 0.53125 11.015625 0.347656 10.945312 0.210938 10.804688 C -0.0703125 10.527344 -0.0703125 10.078125 0.210938 9.796875 L 9.789062 0.21875 C 10.066406 -0.0625 10.519531 -0.0625 10.796875 0.21875 C 11.078125 0.496094 11.078125 0.949219 10.796875 1.226562 L 1.21875 10.804688 C 1.078125 10.945312 0.894531 11.015625 0.714844 11.015625 Z M 0.714844 11.015625 "></path>
<path style=" stroke:none;fill-rule:nonzero;fill:rgb(95.686275%,26.27451%,21.176471%);fill-opacity:1;" d="M 10.292969 11.015625 C 10.109375 11.015625 9.929688 10.945312 9.789062 10.804688 L 0.210938 1.226562 C -0.0703125 0.949219 -0.0703125 0.496094 0.210938 0.21875 C 0.488281 -0.0625 0.9375 -0.0625 1.21875 0.21875 L 10.796875 9.796875 C 11.078125 10.078125 11.078125 10.527344 10.796875 10.804688 C 10.660156 10.945312 10.476562 11.015625 10.292969 11.015625 Z M 10.292969 11.015625 "></path>
</g>
</svg>
</span></button>
            </div>

        </div>
    </div>
    <div class="column_leads-body">
        <div class="modal-left_column">

            <div class="left_column-section">
            </div>
        </div>
        <div class="modal-center_column"></div>
        <div class="modal-right_column">

            <div class="right_column-header">

                <div class="table-checkP">
                </div>

                <div class="table-pict">
                    <div class="table-pict-label">ИЗОБРАЖЕНИЕ</div>
                </div>
                <div class="table-name_position">
                    <div class="table-name_position-label">
                        НАИМЕНОВАНИЕ
                    </div>
                </div>
                <div class="table-article">
                    <div class="table-article-label">
                        АРТИКУЛ
                    </div>
                </div>
                <div class="table-quantity">
                    <div class="table-quantity-label">
                        КОЛИЧЕСТВО
                    </div>
                </div>
                <div class="table-price_sail">
                    <div class="table-price_sail-label">
                        ЦЕНА ПРОДАЖИ
                    </div>
                </div>
            </div>

            <div class="right_column-body"></div>

            <div class="right_column-footer"></div>

        </div>
    </div>

</div>