<div class="div" style="
    margin-top: -35px;
">
    <div class="table_import_pragma_stock-1 table_prag">
        <div class="import_pragma_stock-head header_row_pr_import"></div>
        <div class="import_pragma_stock-body header_col_pr_import"></div>
    </div>
    <div class="import_pragma_stock-foot"></div>

</div>



