<div class="coming_pragma">

    <div class="coming_pragma-body">

        <div class="body_place_for_coming">
            <div class="body_table_coming">
                <div class="body_table_coming-change">

                </div>

                <div class="body_table_coming-No">
                    <div class="body_table_coming-No-label">
                        №
                    </div>
                </div>
                <div class="body_table_coming-num_post">
                    <div class="body_table_coming-num_post-label">
                        НОМЕР ПОСТАВКИ
                    </div>
                </div>
                <div class="body_table_coming-date">
                    <div class="body_table_coming-date-label">
                        ДАТА
                    </div>
                </div>
                <div class="body_table_coming-provision">
                    <div class="body_table_coming-provision-label">
                        ПОСТАВЩИК
                    </div>
                </div>
            </div>
        </div>

        <div class="place_el_table_coming"></div>


    </div>

    <div class="coming_pragma-footer"></div>

</div>

