<div class="top-three_more-first">
    {{ include_control('button', {
        text: "‧‧‧" ,
        class_name: "first_more-first-btn",
        id: "first_more-pragma",
    }) }}

    <div class="right_pragma_drops_four_pol"></div>
    <div class="right_pragma_drops_four">
        <div class="pragma_drop_el" id="pragma_drops_four-first">
            <div class="pragma_drops_first_svg">
                <svg class="button-input__context-menu__item__icon svg-icon svg-common--upload-dims ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#common--upload"></use>
                </svg>
            </div>
            <div class="pragma_drops_first_label">Импорт</div>

        </div>
        <div class="pragma_drop_el" id="pragma_drops_four-two">
            <div class="pragma_drops_two_svg">
                <svg class="button-input__context-menu__item__icon svg-icon svg-common--download-dims ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#common--download"></use>
                </svg>
            </div>
            <div class="pragma_drops_two_label">Экспорт</div>

        </div>
{#        <div class="pragma_drop_el" id="pragma_drops_four-three">#}
{#            <div class="pragma_drops_three_svg">#}
{#                <svg class="button-input__context-menu__item__icon svg-icon svg-common--print-dims ">#}
{#                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#common--print"></use>#}
{#                </svg>#}
{#            </div>#}
{#            <div class="pragma_drops_three_label">Печать</div>#}

{#        </div>#}
{#        <div class="pragma_drop_el" id="pragma_drops_four-four">#}
{#            <div class="pragma_drops_five_svg">#}
{#                <svg class="button-input__context-menu__item__icon svg-icon svg-common--multiactions-dims ">#}
{#                    <use xmlns:xlink="http://www.w3.org/1999/xlink"#}
{#                         xlink:href="#common--multiactions"></use>#}
{#                </svg>#}
{#            </div>#}
{#            <div class="pragma_drops_five_label">Управление</div>#}
{#        </div>#}
{#        <div class="pragma_drop_el" id="pragma_drops_four-five">#}
{#            <div class="pragma_drops_four_svg">#}
{#                <svg class="button-input__context-menu__item__icon svg-icon svg-common--triggers-settings-dims ">#}
{#                    <use xmlns:xlink="http://www.w3.org/1999/xlink"#}
{#                         xlink:href="#common--triggers-settings"></use>#}
{#                </svg>#}
{#            </div>#}
{#            <div class="pragma_drops_four_label">Бизнес процессы</div>#}
{#        </div>#}

    </div>
</div>
