<div class="desc_leads-product-modal-sm">

    <div class="product-modal-sm-header">
        <div class="product_modal_sm-stock">Склад</div>
        <div class="product_modal_sm-no">№ </div>
        <div class="product_modal_sm-date">Дата </div>
        <div class="product_modal_sm-quantity">Количество</div>
        <div class="product_modal_sm-price">Цена</div>
        <div class="product_modal_sm-sum">Сумма</div>
    </div>



    <div class="product-modal-sm-body">

    </div>

    <div class="product-modal-sm-body_deficit"></div>


</div>