<div class="pragma_pragma_pagination_{{ _class_ }}">
    <div class="pragma_pragma_pagination-items-pragma_pagination" id="pragma_pagin" data-max-page="10">
        <div class="pragma_pagination-buttons">
            <button type="button" class="button-input    pragma_pagination_prev" tabindex=""><span
                        class="button-input-inner ">
                    <span class="button-input-inner__text">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7pt" height="7pt" viewBox="0 0 7 7" version="1.1">
<path id = 'path-prev_btn' style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 4.761719 0 L 1.257812 3.507812 L 4.761719 7.015625 L 5.757812 6.019531 L 3.246094 3.507812 L 5.757812 0.996094 Z M 4.761719 0 "/>
</svg>                </span></span></button>
            <button type="button" class="button-input    pragma_pagination_next" tabindex=""><span
                        class="button-input-inner "><span class="button-input-inner__text">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7pt" height="7pt" viewBox="0 0 7 7" version="1.1">
<path id = "path-next_btn" style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;" d="M 2.25 7.015625 L 5.757812 3.507812 L 2.25 0 L 1.257812 0.996094 L 3.769531 3.507812 L 1.257812 6.019531 Z M 2.25 7.015625 "/>
</svg>
                    </span></span></button>
        </div>
        <div class="pragma_pagination-pages_pragma">
        </div>
        <div class="pragma_pagination__rows_{{ _class_ }} ">
            <div class="pragma_pagination__rows-label"><p>Отображать строк:</p></div>
            <div class="pragma_pagination__rows-select">
                <div class="control--select ">
                    <ul class="custom-scroll control--select--list">
                        <li data-value="25" data-color=""
                            class="control--select--list--item control--select--list--item-selected   " style=""><span
                                    class="control--select--list--item-inner" title="25">25</span></li>
                        <li data-value="50" data-color="" class="control--select--list--item    " style=""><span
                                    class="control--select--list--item-inner" title="50">50</span></li>
                        <li data-value="100" data-color="" class="control--select--list--item    " style=""><span
                                    class="control--select--list--item-inner" title="100">100</span></li>
                        <li data-value="200" data-color="" class="control--select--list--item    " style=""><span
                                    class="control--select--list--item-inner" title="200">200</span></li>
                        <li data-value="500" data-color="" class="control--select--list--item    " style=""><span
                                    class="control--select--list--item-inner" title="500">500</span></li>
                    </ul>
                    <button class="control--select--button pragma_select_{{ _class_}}   " tabindex="" type="button" data-value="25"><span
                                class="control--select--button-inner">25</span></button>
                    <input type="hidden" class="control--select--input js-pragma_pagination-rows-input" name=""
                           value="25" id="pragma_input_quantity_stock"
                           data-prev-value="25"></div>
            </div>
        </div>
    </div>
</div>
