<div class="product_pragma">

    <div class="product_pragma-left">

        <div class="pragma-body-right">
            <div class="body-right_catalogs"></div>
        </div>
    </div>

    <div class="product_pragma-center"></div>


    <div class="product_pragma-right">
        <div class="body-table_header">
            <div class="body-table-change">

            </div>
            <div class="body-table-photo">
                <div class="body-table-photo-label">ИЗОБРАЖЕНИЕ</div>
            </div>
            <div class="body-table-name">
                <div class="body-table-name-label">НАИМЕНОВАНИЕ</div>
            </div>
            <div class="body-table-article">
                <div class="body-table-article-label">АРТИКУЛ</div>
            </div>
            <div class="body-table-quantity">
                <div class="body-table-quantity-label">
                    ОСТАТОК
                </div>
            </div>
            <div class="body-table-price_sail">
                <div class="body-table-price_sail-label">
                    ЦЕНА ПРОДАЖИ
                </div>
            </div>
        </div>
        <div class="product_pragma-body">
        </div>
    </div>


</div>











