<div class="select_stock_import" id="{{ key }}">

    {{ include_control('input', {
        text: '',
        readonly: true,
        placeholder: 'выберите поле',
        class_name: "import_pragma_stock",
    }) }}

    <div class="import_pragma_stock_options" style="display: none">
        <div class="item_options" id='0'>id</div>
        <div class="item_options" id='1'>изображение ссылка</div>
        <div class="item_options" id='2'>наименование</div>
        <div class="item_options" id='3'>артикул</div>
        <div class="item_options" id='4'>Раздел</div>
        <div class="item_options" id='5'>ед. измерения</div>
        <div class="item_options" id='6'>цена</div>
    </div>


</div>
