<div class="Stock_pragma">


    <div class="stock_pragma-left">
        <div class="pragma-stock-l">
            <div class="stock-left_header">
                <div class="left_header_footer">
                    <div class="header_footer_label">ВСЕ СКЛАДЫ</div>
                </div>
                <div class="place_FOR_stock"></div>

            </div>

        </div>

    </div>
    <div class="blackout" hidden></div>


    <div class="stock_pragma-right">

    <div class="right_pragma_body-right__top" id="navbar_pragma-stock"></div>

        <div class="Stock_pragma-header">
            <div class="header_products">

                <div class="card-header_products">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.99983 16.9995H1.33322V17.6661H1.99983V16.9995Z" fill="#313131"/>
                        <path d="M3.33305 16.9995H2.66644V17.6661H3.33305V16.9995Z" fill="#313131"/>
                        <path d="M4.66628 16.9995H3.99966V17.6661H4.66628V16.9995Z" fill="#313131"/>
                        <path d="M5.9995 16.9995H5.33289V17.6661H5.9995V16.9995Z" fill="#313131"/>
                        <path d="M7.33272 16.9995H6.66611V17.6661H7.33272V16.9995Z" fill="#313131"/>
                        <path d="M8.66594 16.9995H7.99933V17.6661H8.66594V16.9995Z" fill="#313131"/>
                        <path d="M9.99916 16.9995H9.33255V17.6661H9.99916V16.9995Z" fill="#313131"/>
                        <path d="M11.3324 16.9995H10.6658V17.6661H11.3324V16.9995Z" fill="#313131"/>
                        <path d="M19.9983 19.6327L19.3317 12.9666C19.3146 12.7956 19.1702 12.6657 18.9984 12.6666H18.6651V0.334282C18.6651 0.150214 18.5159 0.000976562 18.3318 0.000976562H0.333306C0.149238 0.000976562 0 0.150214 0 0.334282V18.3328C0 18.5169 0.149238 18.6661 0.333306 18.6661H12.099L12.0023 19.6327C11.9839 19.8158 12.1175 19.9792 12.3006 19.9976C12.3112 19.9987 12.3217 19.9993 12.3323 19.9993H19.665C19.8491 20.0002 19.9991 19.8517 20 19.6677C20 19.656 19.9995 19.6443 19.9983 19.6327ZM0.666611 0.667588H17.9985V2.00081H0.666611V0.667588ZM12.164 17.9995H0.666611V2.66742H17.9985V12.6666H17.6652C17.6652 11.7462 16.919 11.0001 15.9987 11.0001C15.0783 11.0001 14.3321 11.7462 14.3321 12.6666H12.9989C12.8277 12.6666 12.6844 12.7962 12.6673 12.9666L12.164 17.9995ZM16.9986 12.6666H14.9987C14.9987 12.1143 15.4464 11.6667 15.9987 11.6667C16.5509 11.6667 16.9986 12.1143 16.9986 12.6666ZM12.6989 19.3327L13.2989 13.3332H14.3321V13.9998C14.3321 14.1839 14.4814 14.3331 14.6654 14.3331C14.8495 14.3331 14.9987 14.1839 14.9987 13.9998V13.3332H16.9986V13.9998C16.9986 14.1839 17.1478 14.3331 17.3319 14.3331C17.516 14.3331 17.6652 14.1839 17.6652 13.9998V13.3332H18.6984L19.2984 19.3327H12.6989Z"
                              fill="#313131"/>
                        <path d="M5.38525 5.18418L4.91396 4.71289L3.2641 6.36275L2.55716 5.65581L2.08586 6.12711L3.2641 7.30534L5.38525 5.18418Z"
                              fill="#313131"/>
                        <path d="M5.38525 7.8502L4.91396 7.37891L3.2641 9.02877L2.55716 8.32183L2.08586 8.79312L3.2641 9.97136L5.38525 7.8502Z"
                              fill="#313131"/>
                        <path d="M5.38525 10.5167L4.91396 10.0454L3.2641 11.6953L2.55716 10.9883L2.08586 11.4596L3.2641 12.6379L5.38525 10.5167Z"
                              fill="#313131"/>
                        <path d="M13.6655 6.00049H5.6662V6.6671H13.6655V6.00049Z" fill="#313131"/>
                        <path d="M13.6655 8.66699H5.6662V9.3336H13.6655V8.66699Z" fill="#313131"/>
                        <path d="M13.6655 11.3335H5.6662V12.0001H13.6655V11.3335Z" fill="#313131"/>
                    </svg>
                </div>
                {{ include_control('button', {
                    text: "Каталог" ,
                    class_name: "stock_pragma-header-products",
                }) }}
            </div>
            <div class="header_coming">

                <div class="card-header_coming">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.11403 14.6671C8.43427 14.5813 8.77548 14.6263 9.06259 14.792C9.34969 14.9578 9.55918 15.2309 9.64496 15.5511C9.73074 15.8714 9.68579 16.2126 9.52 16.4997C9.3542 16.7868 9.08115 16.9963 8.7609 17.0821C8.60243 17.1248 8.43707 17.1358 8.27435 17.1143C8.11162 17.0929 7.95475 17.0394 7.81278 16.9571C7.59875 16.8334 7.42618 16.6491 7.31688 16.4275C7.20757 16.2058 7.16644 15.9567 7.19868 15.7116C7.23092 15.4666 7.33509 15.2366 7.49801 15.0507C7.66094 14.8648 7.87531 14.7315 8.11403 14.6674V14.6671ZM7.83278 16.0365C7.86973 16.1767 7.95417 16.2997 8.0717 16.3846C8.18924 16.4695 8.33258 16.5111 8.4773 16.5021C8.62203 16.4932 8.75917 16.4343 8.86534 16.3356C8.97152 16.2368 9.04017 16.1043 9.05957 15.9606C9.07898 15.8169 9.04794 15.6709 8.97176 15.5476C8.89558 15.4242 8.77897 15.3311 8.6418 15.284C8.50464 15.237 8.35541 15.239 8.21956 15.2897C8.08372 15.3404 7.96966 15.4367 7.89684 15.5621C7.85543 15.633 7.82852 15.7115 7.81769 15.7929C7.80685 15.8744 7.8123 15.9571 7.83371 16.0365H7.83278Z"
                              fill="#313131"/>
                        <path d="M0.644129 1.42414C0.705267 1.31715 0.787058 1.22338 0.884748 1.14827C0.982441 1.07317 1.09408 1.01822 1.21319 0.986635L3.62788 0.340385C4.02813 0.233704 4.45434 0.290083 4.81309 0.497164C5.17183 0.704244 5.43383 1.04513 5.54163 1.44507L5.86538 2.65257L12.2041 0.953823C12.2841 0.932441 12.3694 0.943701 12.4411 0.985129C12.5128 1.02656 12.5652 1.09476 12.5866 1.17476L13.8001 5.70289L15.3091 5.29851C15.3488 5.28788 15.3901 5.28516 15.4308 5.29051C15.4715 5.29585 15.5108 5.30917 15.5463 5.32968C15.5818 5.3502 15.613 5.37752 15.638 5.41008C15.663 5.44264 15.6813 5.4798 15.6919 5.51945L17.5523 12.4619L17.8541 12.381C17.9731 12.3491 18.0973 12.341 18.2194 12.3571C18.3416 12.3732 18.4594 12.4131 18.5661 12.4748C18.6728 12.5364 18.7663 12.6184 18.8413 12.7161C18.9163 12.8139 18.9713 12.9254 19.0032 13.0444C19.0351 13.1635 19.0432 13.2876 19.0271 13.4097C19.011 13.5319 18.9711 13.6497 18.9095 13.7564C18.8478 13.8631 18.7658 13.9566 18.6681 14.0316C18.5703 14.1066 18.4588 14.1616 18.3398 14.1935L10.9173 16.181C10.8672 16.5911 10.7163 16.9824 10.478 17.3199C10.2398 17.6574 9.92159 17.9305 9.55193 18.115C9.18228 18.2995 8.77267 18.3894 8.35974 18.3769C7.94681 18.3643 7.54342 18.2497 7.18565 18.0431C6.82788 17.8365 6.52688 17.5445 6.30955 17.1932C6.09223 16.8418 5.96536 16.4421 5.94029 16.0298C5.91522 15.6174 5.99272 15.2053 6.16588 14.8302C6.33904 14.4551 6.60245 14.1288 6.93257 13.8804L3.81257 2.23226L1.69975 2.7982C1.52057 2.84627 1.33115 2.8401 1.15548 2.78046C0.979803 2.72083 0.825771 2.61041 0.712881 2.46319C0.599991 2.31597 0.533318 2.13857 0.521301 1.95344C0.509285 1.76831 0.552465 1.58378 0.645378 1.4232L0.644129 1.42414ZM10.6416 7.19632L11.2188 9.34882L11.5773 8.94257C11.6066 8.9092 11.6427 8.88246 11.6831 8.86414C11.7236 8.84582 11.7675 8.83633 11.8119 8.83632C11.846 8.83628 11.8798 8.84188 11.9119 8.85289L12.4266 9.02695L11.8494 6.87414L10.6416 7.19632ZM9.34725 2.36632L8.7435 2.5282L9.11444 3.91226L9.17913 3.80039C9.22055 3.72861 9.28878 3.67623 9.36882 3.65476C9.40847 3.64414 9.44982 3.64143 9.49052 3.64679C9.53122 3.65215 9.57046 3.66548 9.606 3.68601L9.7185 3.7507L9.34725 2.36632ZM12.0626 1.63851L9.94975 2.20476L10.516 4.31789C10.532 4.37759 10.53 4.44071 10.5101 4.49925C10.4902 4.55779 10.4535 4.60912 10.4044 4.64675C10.3554 4.68439 10.2963 4.70663 10.2346 4.71067C10.1729 4.71471 10.1114 4.70037 10.0579 4.66945L9.56288 4.38351L9.27725 4.87851C9.24983 4.92602 9.21038 4.96546 9.16287 4.99289C9.11537 5.02032 9.06148 5.03476 9.00663 5.03476C8.99293 5.03475 8.97926 5.03381 8.96569 5.03195C8.90442 5.02385 8.84693 4.99776 8.80048 4.95699C8.75404 4.91622 8.72072 4.86259 8.70475 4.80289L8.13882 2.69007L6.02569 3.25632L7.15944 7.48195L13.1966 5.86445L12.0626 1.63851ZM15.1679 5.98226L12.4513 6.71007L13.1794 9.42695C13.1941 9.48157 13.1936 9.53913 13.1781 9.59351C13.1626 9.64788 13.1326 9.69703 13.0913 9.7357C13.0501 9.77438 12.9991 9.80115 12.9439 9.81314C12.8886 9.82514 12.8311 9.82192 12.7776 9.80382L11.9073 9.50945L11.301 10.1994C11.2637 10.2419 11.2156 10.2735 11.1617 10.2908C11.1079 10.3081 11.0504 10.3104 10.9953 10.2976C10.9402 10.2848 10.8897 10.2572 10.849 10.2179C10.8084 10.1786 10.7791 10.129 10.7644 10.0744L10.0366 7.35789L7.31975 8.0857L8.74382 13.3954C9.07583 13.4373 9.39612 13.5451 9.6859 13.7125C9.97568 13.8799 10.2291 14.1034 10.4313 14.3701L16.9485 12.6248L15.1679 5.98226ZM18.3988 13.2057C18.3882 13.166 18.3699 13.1288 18.3448 13.0962C18.3198 13.0637 18.2886 13.0363 18.2531 13.0158C18.2175 12.9953 18.1782 12.982 18.1375 12.9766C18.0967 12.9713 18.0554 12.9741 18.0157 12.9848L10.7501 14.9316C10.7903 15.0281 10.8245 15.1271 10.8523 15.2279C10.8785 15.3291 10.8984 15.4318 10.9119 15.5354L18.1776 13.5885C18.2172 13.5779 18.2544 13.5596 18.287 13.5346C18.3196 13.5097 18.347 13.4785 18.3675 13.443C18.3881 13.4074 18.4014 13.3682 18.4068 13.3274C18.4122 13.2867 18.4094 13.2454 18.3988 13.2057ZM6.62507 16.3601C6.72121 16.7181 6.92134 17.0396 7.20015 17.284C7.47896 17.5283 7.82395 17.6845 8.19152 17.7328C8.55908 17.7811 8.93272 17.7194 9.26521 17.5554C9.5977 17.3915 9.87413 17.1326 10.0595 16.8116C10.245 16.4906 10.3311 16.1218 10.3069 15.7518C10.2828 15.3819 10.1496 15.0274 9.92406 14.7332C9.69854 14.4389 9.39085 14.2182 9.03989 14.0987C8.68892 13.9793 8.31043 13.9666 7.95225 14.0623C7.47163 14.1911 7.06183 14.5055 6.81296 14.9364C6.56408 15.3673 6.4965 15.8794 6.62507 16.3601ZM1.15382 1.97351C1.16441 2.01318 1.18271 2.05038 1.20769 2.08298C1.23266 2.11557 1.26382 2.14292 1.29937 2.16347C1.33492 2.18402 1.37417 2.19736 1.41488 2.20273C1.4556 2.2081 1.49697 2.20539 1.53663 2.19476L3.64975 1.62851C3.80984 1.58565 3.98038 1.60813 4.1239 1.69099C4.26742 1.77385 4.37215 1.91032 4.41507 2.07039L7.49413 13.5623C7.68692 13.4803 7.89026 13.4258 8.09819 13.4004L4.93757 1.60695C4.90573 1.48798 4.85076 1.37646 4.77581 1.27874C4.70085 1.18103 4.60738 1.09904 4.50073 1.03746C4.39408 0.975876 4.27634 0.935911 4.15425 0.919845C4.03215 0.903779 3.90808 0.911927 3.78913 0.943823L1.37507 1.59101C1.29507 1.61247 1.22686 1.66481 1.18543 1.73653C1.14401 1.80826 1.13275 1.89349 1.15413 1.97351H1.15382Z"
                              fill="#313131"/>
                    </svg>
                </div>

                {{ include_control('button', {
                    text: "Поступления" ,
                    class_name: "stock_pragma-header-coming",
                }) }}
            </div>
            <div class="header_consumption">
                <div class="card-header_consumption">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.9648 4.73688C19.8469 4.30126 19.4512 3.99906 18.9999 3.99993H17.1379L13.2356 0.0976688C13.1055 -0.0324538 12.8945 -0.0324538 12.7643 0.0976688L10.3333 2.52862L9.23569 1.43098C9.10553 1.30086 8.89453 1.30086 8.76437 1.43098L6.19541 3.99993H3.0838L2.73147 0.890654C2.67672 0.382997 2.24748 -0.00141274 1.73682 3.90274e-06H0.333511C0.149431 3.90274e-06 0.000183105 0.149251 0.000183105 0.333331C0.000183105 0.517411 0.149431 0.666658 0.333511 0.666658H1.73682C1.90782 0.665658 2.05186 0.794281 2.07015 0.96432L3.93678 17.4424C3.99149 17.9495 4.41998 18.3337 4.9301 18.333H5.36343C5.54642 19.421 6.57674 20.1546 7.66472 19.9716C8.50433 19.8304 9.16216 19.1726 9.30336 18.333H11.3633C11.5474 19.4221 12.5796 20.1558 13.6687 19.9717C14.7578 19.7876 15.4914 18.7555 15.3073 17.6663C15.1233 16.5772 14.0911 15.8436 13.002 16.0277C12.1627 16.1695 11.5052 16.8271 11.3633 17.6663H9.30336C9.12036 16.5784 8.09005 15.8447 7.00207 16.0277C6.16245 16.1689 5.50463 16.8267 5.36343 17.6663H4.9301C4.7591 17.6673 4.61506 17.5387 4.59677 17.3687L4.36678 15.3331H15.8303C16.2763 15.3316 16.6679 15.0362 16.7919 14.6077L19.2625 5.96056C19.7944 5.81661 20.1088 5.26874 19.9648 4.73688ZM13.3333 16.6664C14.0697 16.6664 14.6666 17.2633 14.6666 17.9997C14.6666 18.736 14.0697 19.333 13.3333 19.333C12.5969 19.333 12 18.736 12 17.9997C12 17.2633 12.5969 16.6664 13.3333 16.6664ZM7.33339 16.6664C8.06976 16.6664 8.66671 17.2633 8.66671 17.9997C8.66671 18.736 8.06976 19.333 7.33339 19.333C6.59703 19.333 6.00008 18.736 6.00008 17.9997C6.00008 17.2633 6.59703 16.6664 7.33339 16.6664ZM13 0.804656L16.1952 3.99993H11.8047L10.8047 2.99995L13 0.804656ZM9.00003 2.13796L10.862 3.99993H7.13806L9.00003 2.13796ZM16.1509 14.4244C16.1101 14.5677 15.9792 14.6664 15.8303 14.6664H4.29178L3.31013 5.99989H18.5579L16.1509 14.4244ZM18.9999 5.33324H3.23346L3.15846 4.66658H18.9999C19.1839 4.66658 19.3332 4.81583 19.3332 4.99991C19.3332 5.18399 19.184 5.33324 18.9999 5.33324Z"
                              fill="#313131"/>
                        <path d="M5.00011 13.9997H13.3333C13.5174 13.9997 13.6666 13.8504 13.6666 13.6663C13.6666 13.4823 13.5174 13.333 13.3333 13.333H5.00011C4.81603 13.333 4.66679 13.4823 4.66679 13.6663C4.66679 13.8504 4.81603 13.9997 5.00011 13.9997Z"
                              fill="#313131"/>
                        <path d="M14.6666 13.9997H15.3333C15.5174 13.9997 15.6666 13.8504 15.6666 13.6663C15.6666 13.4823 15.5174 13.333 15.3333 13.333H14.6666C14.4825 13.333 14.3333 13.4823 14.3333 13.6663C14.3333 13.8504 14.4825 13.9997 14.6666 13.9997Z"
                              fill="#313131"/>
                    </svg>

                </div>
                {{ include_control('button', {
                    text: "Продажи" ,
                    class_name: "stock_pragma-header-consumption",
                }) }}
            </div>
{#             <div class="header_deficit">#}

{#             <div class="card-header_deficit">#}
{#             <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#             <path d="M23.4825 8.64387L20.9037 4.22324C20.868 4.16194 20.8142 4.11318 20.7496 4.08358L11.9083 0.0313304C11.8172 -0.0104435 11.7123 -0.0104435 11.6211 0.0313304L2.7798 4.08358C2.71528 4.11318 2.66146 4.16194 2.62566 4.22324L0.0469421 8.64387C-0.00204689 8.72793 -0.0133061 8.82876 0.0160597 8.92154C0.0454255 9.01433 0.112613 9.09034 0.201032 9.13087L9.04235 13.1831C9.20356 13.257 9.39437 13.1965 9.48371 13.0435L11.4201 9.72402V18.2269L3.26808 14.4906V11.6035C3.26808 11.4132 3.11381 11.2589 2.92341 11.2589C2.73302 11.2589 2.57874 11.4132 2.57874 11.6035V14.7118C2.57874 14.8466 2.65728 14.969 2.7798 15.0251L11.6211 19.0774C11.6667 19.0983 11.7157 19.1088 11.7647 19.1088C11.8137 19.1088 11.8628 19.0983 11.9083 19.0774L15.033 17.7848C15.1555 17.7286 15.0046 17.5531 15.0046 17.4184L15.033 17.5556C15.033 17.3653 14.8787 17.2109 14.6883 17.2109C14.4979 17.2109 14.9295 17.0206 14.9295 17.2109L14.6883 17.0588L12.1094 18.2269V9.72407L14.0457 13.0435C14.1094 13.1526 14.2245 13.2146 14.3436 13.2146C14.3918 13.2146 14.4406 13.2044 14.4871 13.1832L23.3284 9.13092C23.4168 9.09038 23.484 9.01433 23.5133 8.92159C23.5427 8.8288 23.5315 8.72793 23.4825 8.64387ZM9.04566 12.4264L0.834029 8.66272L3.06372 4.84038L11.2753 8.60403L9.04566 12.4264ZM11.7647 8.07002L3.75062 4.39691L11.7647 0.723794L19.7788 4.39691L11.7647 8.07002ZM14.4838 12.4264L12.2541 8.60403L20.4657 4.84038L22.6954 8.66272L14.4838 12.4264Z"#}
{#             fill="#313131"/>#}
{#             <circle cx="18.8235" cy="15.2943" r="4.40588" stroke="#313131" stroke-width="0.6"/>#}
{#             <path d="M20.7164 13.428L16.9579 17.1865" stroke="#313131" stroke-width="0.6"#}
{#             stroke-linecap="round"/>#}
{#             <path d="M20.7164 17.1872L16.9579 13.4287" stroke="#313131" stroke-width="0.6"#}
{#             stroke-linecap="round"/>#}
{#             </svg>#}
{#             </div>#}
{#             {{ include_control('button', {#}
{#             text: "Аналитика" ,#}
{#             class_name: "stock_pragma-header-deficit",#}
{#             }) }}#}
{#             </div>#}


{#            <div class="header_setting">#}

{#                <button type="button" class="button-input    stock_pragma-header-setting" tabindex="">#}
{#                <span class="button-input-inner ">#}
{#                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#<g clip-path="url(#clip0)"><path#}
{#            d="M12.3333 11.6665H11.9667C11.8288 11.6668 11.7054 11.5807 11.658 11.4512C11.6173 11.3445 11.5737 11.2402 11.5267 11.1368C11.4683 11.0112 11.4949 10.8624 11.5933 10.7648L11.8547 10.5032C12.2426 10.1118 12.2419 9.48063 11.853 9.09017L10.911 8.14817C10.52 7.7595 9.88863 7.7595 9.49767 8.14817L9.23633 8.40917C9.13858 8.50721 8.99004 8.53384 8.86433 8.47584C8.761 8.42884 8.65667 8.38517 8.54967 8.3425C8.41946 8.29546 8.33283 8.17163 8.33333 8.03317V7.6665C8.33333 7.11421 7.88563 6.6665 7.33333 6.6665H6C5.44771 6.6665 5 7.11421 5 7.6665V8.03317C5.00025 8.17109 4.91421 8.29446 4.78467 8.34184C4.678 8.3825 4.57367 8.42617 4.47033 8.47317C4.34462 8.5313 4.19604 8.50467 4.09833 8.4065L3.83667 8.14517C3.44575 7.75675 2.81458 7.75675 2.42367 8.14517L1.48167 9.09017C1.093 9.48113 1.093 10.1125 1.48167 10.5035L1.74267 10.7648C1.84108 10.8624 1.86775 11.0112 1.80933 11.1368C1.76233 11.2402 1.71867 11.3445 1.67767 11.4515C1.62996 11.5818 1.50542 11.6679 1.36667 11.6665H1C0.447708 11.6665 0 12.1142 0 12.6665V13.9998C0 14.5521 0.447708 14.9998 1 14.9998H1.36667C1.50458 14.9996 1.62796 15.0856 1.67533 15.2152C1.716 15.3218 1.75967 15.4262 1.80667 15.5295C1.86508 15.6552 1.83842 15.804 1.74 15.9015L1.47867 16.1632C1.09025 16.5541 1.09025 17.1853 1.47867 17.5762L2.42067 18.5182C2.81163 18.9068 3.44304 18.9068 3.834 18.5182L4.09533 18.2572C4.19308 18.1591 4.34163 18.1325 4.46733 18.1905C4.57067 18.2375 4.675 18.2812 4.782 18.3238C4.91288 18.3703 5.00025 18.4943 5 18.6332V18.9998C5 19.5521 5.44771 19.9998 6 19.9998H7.33333C7.88563 19.9998 8.33333 19.5521 8.33333 18.9998V18.6332C8.33308 18.4953 8.41913 18.3719 8.54867 18.3245C8.65533 18.2838 8.75967 18.2402 8.863 18.1932C8.98871 18.135 9.13729 18.1617 9.235 18.2598L9.49667 18.5212C9.88813 18.909 10.5191 18.9082 10.9097 18.5195L11.8517 17.5775C12.2403 17.1865 12.2403 16.5551 11.8517 16.1642L11.5907 15.9028C11.4923 15.8053 11.4656 15.6565 11.524 15.5308C11.571 15.4275 11.6147 15.3232 11.6573 15.2162C11.7044 15.086 11.8282 14.9993 11.9667 14.9998H12.3333C12.8856 14.9998 13.3333 14.5521 13.3333 13.9998V12.6665C13.3333 12.1142 12.8856 11.6665 12.3333 11.6665ZM12.6667 13.9998C12.6667 14.1839 12.5174 14.3332 12.3333 14.3332H11.9667C11.5523 14.3347 11.1815 14.5908 11.0333 14.9778C10.998 15.0712 10.9598 15.163 10.9187 15.2535C10.7473 15.6318 10.8268 16.0767 11.1187 16.3722L11.3793 16.6332C11.5096 16.7633 11.5097 16.9743 11.3796 17.1046C11.3795 17.1047 11.3794 17.1048 11.3793 17.1048L10.4373 18.0468C10.3072 18.177 10.0962 18.177 9.966 18.0468L9.70467 17.7858C9.40929 17.4937 8.96429 17.4142 8.586 17.5858C8.49567 17.6268 8.40367 17.6652 8.311 17.7005C7.92429 17.8486 7.66833 18.2191 7.66667 18.6332V18.9998C7.66667 19.1839 7.51742 19.3332 7.33333 19.3332H6C5.81592 19.3332 5.66667 19.1839 5.66667 18.9998V18.6332C5.66513 18.2188 5.409 17.848 5.022 17.6998C4.92867 17.6645 4.83679 17.6263 4.74633 17.5852C4.368 17.4139 3.92321 17.4934 3.62767 17.7852L3.36667 18.0458C3.23658 18.1761 3.0255 18.1762 2.89525 18.0461C2.89517 18.046 2.89508 18.0459 2.895 18.0458L1.953 17.1048C1.82288 16.9747 1.82288 16.7637 1.953 16.6335L2.214 16.3722C2.50588 16.0767 2.58538 15.6318 2.414 15.2535C2.373 15.1632 2.33467 15.0712 2.29933 14.9785C2.15158 14.5914 1.781 14.335 1.36667 14.3332H1C0.815917 14.3332 0.666667 14.1839 0.666667 13.9998V12.6665C0.666667 12.4824 0.815917 12.3332 1 12.3332H1.36667C1.78104 12.3316 2.15188 12.0755 2.3 11.6885C2.33533 11.5952 2.37354 11.5033 2.41467 11.4128C2.58604 11.0345 2.5065 10.5897 2.21467 10.2942L1.95267 10.0332C1.82242 9.90309 1.82229 9.692 1.95242 9.56175C1.9525 9.56167 1.95258 9.56159 1.95267 9.5615L2.89467 8.6195C3.02483 8.48938 3.23583 8.48938 3.366 8.6195L3.62733 8.8805C3.92271 9.17263 4.36771 9.25217 4.746 9.0805C4.83633 9.0395 4.92833 9.00117 5.021 8.96584C5.40825 8.81821 5.66479 8.44759 5.66667 8.03317V7.6665C5.66667 7.48242 5.81592 7.33317 6 7.33317H7.33333C7.51742 7.33317 7.66667 7.48242 7.66667 7.6665V8.03317C7.66821 8.44755 7.92433 8.81838 8.31133 8.9665C8.40467 9.00184 8.49654 9.04005 8.587 9.08117C8.96529 9.25284 9.41029 9.1733 9.70567 8.88117L9.96667 8.6205C10.0973 8.49125 10.3077 8.49125 10.4383 8.6205L11.3803 9.5625C11.5105 9.69267 11.5105 9.90367 11.3803 10.0338L11.1193 10.2952C10.8275 10.5907 10.748 11.0355 10.9193 11.4138C10.9603 11.5042 10.9987 11.5962 11.034 11.6888C11.1821 12.0755 11.5526 12.3315 11.9667 12.3332H12.3333C12.5174 12.3332 12.6667 12.4824 12.6667 12.6665V13.9998Z"#}
{#            fill="black"></path>#}
{#<path d="M9.66004 13.2002C9.65671 13.1202 9.65104 13.0405 9.64137 12.9612C9.63071 12.8758 9.61804 12.7912 9.60037 12.7082C9.58871 12.6538 9.57337 12.6002 9.55871 12.5462C9.54004 12.4775 9.51904 12.4098 9.49571 12.3432C9.47937 12.2968 9.46237 12.2508 9.44504 12.2052C9.40212 12.0984 9.35304 11.9942 9.29804 11.8932C9.29371 11.8855 9.29104 11.8772 9.28671 11.8695C9.2 11.7152 9.09958 11.5689 8.98671 11.4325C8.97704 11.4205 8.96604 11.4092 8.95604 11.3975C8.91004 11.3432 8.86271 11.2905 8.81304 11.2402C8.78704 11.2132 8.75971 11.1878 8.73237 11.1618C8.69904 11.1308 8.66571 11.1002 8.63237 11.0708C8.59191 11.0357 8.55071 11.0017 8.50871 10.9688L8.45404 10.9282C7.93825 10.5418 7.31112 10.3332 6.66671 10.3335C6.63337 10.3335 6.60004 10.3385 6.56671 10.3398C6.49571 10.3418 6.42437 10.3458 6.35271 10.3532C6.31504 10.3572 6.27704 10.3615 6.23937 10.3668C6.13071 10.3811 6.02287 10.4013 5.91637 10.4272C4.31133 10.8419 3.34642 12.4793 3.76117 14.0844C4.0345 15.1421 4.86083 15.9677 5.91871 16.2402C5.92404 16.2402 5.92971 16.2418 5.93537 16.2432C6.0505 16.2719 6.16712 16.2942 6.28471 16.3099C6.36237 16.3195 6.44004 16.3215 6.51804 16.3252C6.57004 16.3278 6.61804 16.3355 6.67237 16.3355C6.76737 16.3355 6.86604 16.3292 6.96671 16.3192C6.97737 16.3192 6.98804 16.3162 7.00004 16.3149C7.08104 16.3059 7.16304 16.2939 7.24671 16.2772C7.28004 16.2709 7.31104 16.2625 7.34304 16.2552C7.40171 16.2415 7.46004 16.2272 7.52004 16.2095C7.56671 16.1955 7.61204 16.1792 7.65771 16.1632C7.70337 16.1472 7.75071 16.1298 7.79804 16.1118C7.84537 16.0938 7.88504 16.0732 7.92804 16.0532C7.98404 16.0275 8.03971 16.0022 8.09471 15.9722H8.09671C8.40779 15.8056 8.69512 15.5981 8.95104 15.3552C9.02016 15.2907 9.08029 15.2171 9.12971 15.1365C9.38987 14.7194 9.56079 14.253 9.63171 13.7665C9.64104 13.7022 9.64937 13.6378 9.65437 13.5722C9.65904 13.5118 9.66237 13.4518 9.66371 13.3918C9.66371 13.3728 9.66637 13.3548 9.66637 13.3358C9.66671 13.2888 9.66204 13.2455 9.66004 13.2002ZM8.99571 13.4185C8.99571 13.4462 8.99337 13.4738 8.99171 13.5012C8.98571 13.5818 8.97537 13.6625 8.96171 13.7435C8.83712 14.4366 8.40683 15.0366 7.79037 15.3768C7.74904 15.3985 7.70837 15.4188 7.66771 15.4375L7.64004 15.4508C7.44637 15.5388 7.24196 15.6006 7.03204 15.6348C7.01737 15.6372 7.00237 15.6398 6.98737 15.6418C6.94571 15.6478 6.90471 15.6528 6.86404 15.6565C6.81037 15.6612 6.75637 15.6638 6.70137 15.6648C6.67804 15.6648 6.65504 15.6648 6.63171 15.6648C6.55283 15.6639 6.47408 15.6591 6.39571 15.6502L6.35571 15.6455C6.26404 15.6335 6.17312 15.6164 6.08337 15.5942C4.83496 15.2746 4.08196 14.0036 4.40146 12.7551C4.61258 11.9302 5.25633 11.2858 6.08104 11.0738V11.0735C6.27254 11.0252 6.46921 11.0005 6.66671 11.0002C6.762 11.0007 6.85721 11.0072 6.95171 11.0195C6.97704 11.0225 7.00204 11.0272 7.02704 11.0308C7.09904 11.0422 7.17037 11.0565 7.24071 11.0745C7.26371 11.0805 7.28671 11.0858 7.30937 11.0922C7.48662 11.1433 7.65725 11.2152 7.81771 11.3062C7.84337 11.3212 7.86837 11.3368 7.89371 11.3525C7.94637 11.3858 7.99737 11.4192 8.04771 11.4572C8.07471 11.4768 8.10204 11.4962 8.12804 11.5172C8.19346 11.5694 8.25608 11.625 8.31571 11.6838C8.33937 11.7078 8.36104 11.7342 8.38404 11.7592C8.42237 11.8008 8.45971 11.8435 8.49537 11.8885C8.52004 11.9195 8.54371 11.9515 8.56704 11.9838C8.60037 12.0318 8.63371 12.0818 8.66371 12.1325C8.68037 12.1602 8.69704 12.1872 8.71404 12.2155C8.75704 12.2946 8.79533 12.3762 8.82871 12.4598C8.84204 12.4932 8.85337 12.5265 8.86537 12.5598C8.88704 12.6212 8.90571 12.6832 8.92204 12.7458C8.93037 12.7792 8.93971 12.8088 8.94671 12.8412C8.96616 12.9313 8.98029 13.0224 8.98904 13.1142C8.99104 13.1385 8.99104 13.1632 8.99271 13.1875C8.99737 13.2642 8.99871 13.3412 8.99571 13.4185Z"#}
{#      fill="black"></path>#}
{#<path d="M19 7H17.9517C17.8119 7.00142 17.6869 6.91338 17.641 6.78133C17.5377 6.47171 17.4126 6.16971 17.2667 5.87767C17.2048 5.75154 17.2306 5.59992 17.3307 5.50133L18.074 4.757C18.4642 4.36654 18.4642 3.73379 18.074 3.34333L16.6567 1.92833C16.2662 1.53817 15.6335 1.53817 15.243 1.92833L14.5 2.671C14.4016 2.77108 14.2502 2.797 14.124 2.73533C13.832 2.58871 13.5299 2.46296 13.22 2.359C13.0875 2.31363 12.9988 2.18846 13 2.04833V1C13 0.447708 12.5523 0 12 0H10C9.44775 0 9.00004 0.447708 9.00004 1V2.04833C9.00146 2.18813 8.91346 2.31317 8.78137 2.359C8.47171 2.46292 8.16971 2.58858 7.87771 2.735C7.75158 2.79713 7.59987 2.77133 7.50137 2.671L6.75704 1.92767C6.36612 1.53863 5.73429 1.53863 5.34337 1.92767L3.92871 3.34233C3.53833 3.73283 3.53833 4.36583 3.92871 4.75633L5.02171 5.85133C5.15391 5.97942 5.36496 5.97608 5.49304 5.84383C5.618 5.71483 5.61829 5.51 5.49371 5.38067L4.40004 4.286C4.26991 4.15583 4.26991 3.94483 4.40004 3.81467L5.81471 2.4C5.94487 2.26988 6.15587 2.26988 6.28604 2.4L7.03071 3.14333C7.332 3.44642 7.79366 3.52217 8.17604 3.33133C8.44008 3.19913 8.71308 3.08563 8.99304 2.99167C9.39712 2.85488 9.66846 2.47496 9.66671 2.04833V1C9.66671 0.815917 9.81596 0.666667 10 0.666667H12C12.1841 0.666667 12.3334 0.815917 12.3334 1V2.04833C12.3317 2.47487 12.603 2.85467 13.007 2.99133C13.2871 3.08533 13.5602 3.19892 13.8244 3.33133C14.2068 3.52117 14.6679 3.44533 14.9694 3.143L15.714 2.4C15.8442 2.26988 16.0552 2.26988 16.1854 2.4L17.6 3.815C17.73 3.94513 17.73 4.15588 17.6 4.286L16.8567 5.03067C16.5539 5.33213 16.4782 5.79358 16.6687 6.176C16.8009 6.44004 16.9144 6.71304 17.0084 6.993C17.1451 7.39717 17.525 7.6685 17.9517 7.66667H19C19.1841 7.66667 19.3334 7.81592 19.3334 8V10C19.3334 10.1841 19.1841 10.3333 19 10.3333H17.9517C17.5252 10.3316 17.1454 10.603 17.0087 11.007C16.9147 11.2871 16.8011 11.5602 16.6687 11.8243C16.4785 12.2067 16.5544 12.668 16.857 12.9693L17.6004 13.714C17.7305 13.8442 17.7305 14.0552 17.6004 14.1853L16.185 15.6C16.0549 15.7299 15.8442 15.7299 15.714 15.6L14.6187 14.507C14.4906 14.3748 14.2796 14.3714 14.1474 14.4995C14.0151 14.6276 14.0118 14.8386 14.1399 14.9708C14.1425 14.9736 14.1453 14.9763 14.148 14.979L15.243 16.072C15.6335 16.4622 16.2662 16.4622 16.6567 16.072L18.0714 14.6577C18.4617 14.2672 18.4617 13.6342 18.0714 13.2437L17.329 12.5C17.229 12.4015 17.2032 12.2501 17.2647 12.124C17.4113 11.8319 17.5371 11.5298 17.641 11.22C17.6864 11.0874 17.8116 10.9988 17.9517 11H19C19.5523 11 20 10.5523 20 10V8C20 7.44771 19.5523 7 19 7Z"#}
{#      fill="black"></path>#}
{#<path d="M14.064 5.93623C12.3708 4.24652 9.62928 4.24652 7.93602 5.93623C7.80815 6.06864 7.81182 6.27968 7.94423 6.40756C8.0734 6.53231 8.27819 6.53231 8.40736 6.40756C9.82965 4.96606 12.1512 4.95052 13.5927 6.37281C15.0342 7.7951 15.0498 10.1166 13.6275 11.5581C13.616 11.5698 13.6044 11.5814 13.5927 11.5929C13.4603 11.7208 13.4566 11.9318 13.5845 12.0642C13.7125 12.1966 13.9235 12.2003 14.0559 12.0724C14.0586 12.0697 14.0614 12.067 14.064 12.0642C15.7538 10.371 15.7538 7.62948 14.064 5.93623Z"#}
{#      fill="black"></path>#}
{#</g>#}
{#<defs>#}
{#<clipPath id="clip0">#}
{#<rect width="20" height="20" fill="white"></rect>#}
{#</clipPath>#}
{#</defs>#}
{#</svg>#}
{#</span></button>#}
{#            </div>#}

        </div>
        <div class="Stock_pragma-body">


        </div>
        <div class="stock_pragma-catalogs">
            <div class="product_pragma-header">

            </div>
        </div>
    </div>


    <div class="pragma_block" style="display: none;"></div>
    <div class="loader_pragma_id" style="display: none;"></div>
</div>