<div class="pragma-core-twi">
    <div class="pragma-core_pipeline_sel">
        {{ include_control('button', {
            id: 'pragma-core_pipeline',
            text: 'Укажите активные воронки',
            class_name: 'pragma-lirax-core_pipeline'
        }) }}
    </div>

    <div class="pragma-core_pipeline_sel_body"></div>

</div>