<div class="core-pipeline-pragma" id = "{{ id }}">
    <div class="pragma-check">
        {{ include_control('checkbox', {
            id: 'pragma-check_pipe',
            text:  name ,
            class_name: 'pheck_pipe_amo'
        }) }}
    </div>
</div>